
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
//$blue: #3490dc;
$blue: #A3695F;
$indigo: #6574cd;
$purple: #9561e2;
//$pink: #f66D9b;
$pink: #A3695F;
//$red: #e3342f;
$red: #F9423A;
//$orange: #f6993f;
$orange: #FEAD77;
$yellow: #ffed4a;
//$green: #38c172;
$green: #AACA97;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$darkgreen: #314F40;
