
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

/*.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}*/

.page {
  margin-top: 100px;
}

.navbar-brand, .nav-link {

  color: pink !important;
  letter-spacing: .1rem;
  text-decoration: none;

}

#nav.shrink {
    height: 60px;
    transition: all ease .5s;
    background: rgba(0,0,0,.7);

    }


#nav {
display: block;
background: transparent; // Transparent initial setting
position: fixed;
top: 0;
width: 100%;
z-index: 99999;
transition: all ease .5s;
}
